/* profile-dropdown */
.profile-dropdown .btn {
  border: none;
  background-color: transparent !important;
  color: var(--tcolor) !important;
  padding: 0;
}
.profile-dropdown .btn img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.profile-dropdown .dropdown-menu {
  box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 10%);
  padding: 0;
  border: none;
  border-radius: 5px;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate(0px, 56px);
}
.profile-dropdown .dropdown-menu .dropdown-item {
  padding: 10px 20px;
  /* font-size: 14px;
  font-weight: 600; */
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.3;
  font: normal 600 14px/20px var(--ff_inter, serif);
}
.profile-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #e9e9e7;
}
.profile-dropdown .dropdown-menu .dropdown-item i {
  font-size: 18px;
}
/* landing-page */
.landing-page {
}
/* banner section */
.full-height-section {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding: calc(50px + 30 * (100vw - 320px) / 1600) 0
    calc(50px + 30 * (100vw - 320px) / 1600);
}
.banner-section {
  background-color: rgb(241 242 244 / 60%);
}
.banner-section:before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-image: url(../img/icon/svg/shape01.svg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.banner-shape {
  position: absolute;
  z-index: -1;
  left: 40%;
  top: 80%;
}
.banner-section.intern-banner {
  min-height: auto;
}
.banner-content h2 {
  font-size: calc(28px + 26 * (100vw - 320px) / 1600);
  line-height: 1.3;
  margin-bottom: calc(20px + 10 * (100vw - 320px) / 1600);
  position: relative;
  color: var(--black);
  font-weight: 500;
}
.banner-content h2 span,
.banner-content p span {
  font-weight: 700;
  color: var(--mcolor);
}
.banner-content p {
  font-size: calc(16px + 2 * (100vw - 320px) / 1600);
  line-height: 1.5;
  margin-bottom: calc(30px + 10 * ((100vw - 320px) / (1920 - 320)));
  color: #5e6670;
}

.login-form {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e4e5e8;
  background-color: #fff;
  box-shadow: 0px 12px 40px 0px rgba(0, 44, 109, 0.04);
}
.login-form .form-control {
  border-color: var(--black-100);
  padding: 16px 20px;
  font-size: calc(15px + 1 * (100vw - 320px) / 1600);
  color: var(--black);
  border-radius: 0px;
  background-color: var(--white);
  border: none;
  padding-left: 30px;
}

.login-form .form-group .input-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  color: var(--mcolor);
  font-size: 18px;
}
.login-form form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.login-form form .form-group {
  flex: 1 1 240px;
}
.login-form .form-group.mail-input::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 32px;
  background-color: #e4e5e8;
  transform: translateY(-50%);
}
.login-form .login-btn {
  padding: calc(14px + 4 * ((100vw - 320px) / (1920 - 320)))
    calc(24px + 9 * ((100vw - 320px) / (1920 - 320)));
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
}
/* ------- Messages Page CSS start ------- */
.chatus-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.chatus-wrapper .form-control {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  height: 45px;
  padding: 12px 40px 12px 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  box-shadow: none;
}
.chatus-wrapper img {
  position: absolute;
  right: 15px;
}
.chatus-wrapper .form-control::placeholder {
  color: #d1d1d1;
}
.chatus-wrapper .form-control:focus {
  border-color: var(--text-sky);
}
.chatuser-wrapper {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  max-height: 700px;
  overflow: auto;
}
.chatuser-img {
  min-width: 36px;
  max-width: 36px;
  min-height: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 14px;
}
.chatuser-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.chat-header {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}
.chat-header h5 {
  font-size: calc(15px + 1 * (100vw - 320px) / 1600);
  line-height: 1.4;
  margin-bottom: 8px;
  color: var(--dark-gray);
}
.chat-header p {
  font-size: calc(14px + 1 * (100vw - 320px) / 1600);
  line-height: 1.4;
  margin-bottom: 0px;
  color: var(--gray);
}
.chatmore-menu .menu-link:hover {
  background: var(--text-sky);
}
.usertalk-inner {
  display: flex;
  margin-left: auto;
  position: relative;
  max-width: 90%;
}
.chat-wrapper.style2 {
  padding: 20px;
  background-color: var(--grey);
  border-radius: 5px;
}
.chat-wrapper.style2 .usertalk-inner.reply-inner .userleft-msg span {
  border-color: #e7e5e5;
}
.userleft-msg span {
  background: var(--mcolor);
  border-radius: calc(10px + 6 * (100vw - 320px) / 1600);
  padding: 12px 16px;
  display: inline-block;
  white-space: normal;
  word-break: break-word;
  margin-bottom: 2px;
  color: var(--white);
  min-width: 200px;
  line-height: 1.5;
  font-size: calc(14px + 2 * (100vw - 320px) / 1600);
  font-weight: 600;
  border-bottom-right-radius: 0;
  max-height: 300px;
  overflow-y: auto;
}
.usertalk-wrapper {
  padding-block: 14px;
  min-height: calc(100vh - 180px);
  max-height: calc(100vh - 180px);
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
}
.usertalk-wrapper .usertalk-inner:first-child {
  margin-top: auto !important;
}
.chatuser-wrapper::-webkit-scrollbar,
.usertalk-wrapper::-webkit-scrollbar {
  width: 7px;
  background-color: #e3e3e33b;
}
.chatuser-wrapper::-webkit-scrollbar-thumb,
.usertalk-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
.userleft-msg {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  min-width: 120px;
}
.userleft-msg .msg-dt {
  position: absolute;
  bottom: -10px;
  right: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.012em;
  color: rgba(108, 114, 117, 0.5);
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}
.msg-dt button {
  background-color: #e8ecef;
  border: none;
  padding: 5px 8px;
  font-size: 12px;
  line-height: 1;
  border-radius: 5px;
  font-weight: 500;
  color: #232627;
  margin-left: 5px;
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  gap: 5px;
}
.action-button-list {
  display: flex;
}
.emojis-group {
  background-color: #e8ecef;
  border: none;
  padding: 5px 8px;
  margin-left: 5px;
  border-radius: 5px;
}
.emojis-group button {
  background-color: transparent;
  padding-block: 0;
  padding-inline: 2px;
}
.typing {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes typing {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }

  33% {
    transform: scale(1);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.4);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}
.circle {
  display: block !important;
  height: 10px;
  width: 10px;
  border-radius: 50% !important;
  background-color: var(--grey) !important;
  margin: 3px;
  padding: 0 !important;
  animation: typing 1000ms ease-in-out infinite;
  animation-delay: 3600ms;
  min-width: auto !important;
}
.circle:nth-child(1) {
  animation-delay: 0ms;
}
.circle:nth-child(2) {
  animation-delay: 333ms;
}
.circle:nth-child(3) {
  animation-delay: 666ms;
}
.usertalk-inner.reply-inner {
  flex-direction: row-reverse;
  margin-right: auto;
  margin-left: inherit;
}
.usertalk-inner.reply-inner .chatuser-img {
  margin-right: 14px;
  margin-left: 0;
}
.usertalk-inner.reply-inner .userleft-msg span {
  border: 1px solid #d3d3d3;
  background-color: #f6f6f4;
  color: var(--black-700);
}
.chattype-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding-top: 10px;
}
.chattype-wrapper .typeinput-wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #e8ecef;
  background-color: var(--white);
  border-radius: 10px;
  padding: 10px 14px;
}
.chattype-wrapper .typeinput-wrapper .input-file-icon {
  border-radius: 50%;
  background-color: transparent;
  transition: var(--tran-02);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.typeinput-wrapper input {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--black);
  padding: 0;
  border-radius: 0;
}
.typeinput-wrapper .input-main-input {
  padding-inline: 20px;
  flex-grow: 1;
}

.typeinput-wrapper input::placeholder {
  color: #d1d1d1;
}
.input-recording-icon button {
  padding: 5px !important;
  border-radius: 50%;
  transition: var(--transition-025);
}
.input-recording-icon button:hover {
  background-color: var(--blue-light-15) !important;
}
.typeinput-wrapper input:focus {
  border-color: var(--text-sky);
}
.chatsend-btn a {
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  padding: 6px 8px;
  transition: var(--tran-02);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatsend-btn a:hover {
  color: #fff;
  background-color: var(--mcolor);
}
.chatsend-btn a:hover i {
  color: #fff;
  transition: var(--transition-025);
}
/* ------- Messages Page CSS end ------- */

/* code-wrap */
.code-wrap {
  padding: 1.5rem;
  background-color: #fff;
  border: 1px solid #e4e5e8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  filter: drop-shadow(0px 2px 18px rgb(24 25 28 / 3%));
}
a.code-wrap:hover {
  border-color: var(--mcolor);
}
.code-wrap .code-head {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.code-wrap .code-info {
}
.code-info h5 {
  font-size: calc(16px + 2 * (100vw - 320px) / 1600);
  margin: 0;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 10px;
}
.code-head .star {
  color: #ff900e;
  font-size: 22px;
  line-height: 1;
}
.code-footer {
}
.code-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.code-footer ul li {
  flex-grow: 1;
  display: flex;
  gap: 6px;
  align-items: center;
}
.code-footer ul li i {
  color: var(--mcolor);
  font-size: 18px;
}
.code-footer ul li span {
  color: #767f8c;
  font-size: 14px;
  font-weight: 500;
}
